body {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#path-0 {
    stroke-dasharray: 337;
    stroke-dashoffset: 337;
    stroke-linecap: round;
    /* stroke-linejoin: bevel; */
    animation: stroke-animate 2s ease forwards;


}

#path-1 {
    stroke-dasharray: 464;
    stroke-dashoffset: 464;
    stroke-linecap: round;
    animation: stroke-animate 2s ease forwards .2s;
}

#path-2 {
    stroke-dasharray: 494;
    stroke-dashoffset: 494;
    stroke-linecap: round;
    animation: stroke-animate 2s ease forwards .4s;
}

#path-3 {
    stroke-dasharray: 337;
    stroke-dashoffset: 337;
    stroke-linecap: round;
    animation: stroke-animate 2s ease forwards .6s;
}

#path-4 {
    stroke-dasharray: 490;
    stroke-dashoffset: 490;
    stroke-linecap: round;
    animation: stroke-animate 2s ease forwards 2s;
}

#path-5 {
    stroke-dasharray: 605;
    stroke-dashoffset: 605;
    stroke-linecap: round;
    animation: stroke-animate 2s ease forwards 2.2s;
}

#path-6 {
    stroke-dasharray: 227;
    stroke-dashoffset: 227;
    stroke-linecap: round;
    animation: stroke-animate 2s ease forwards 2.4s;
}

#path-7 {
    stroke-dasharray: 755;
    stroke-dashoffset: 755;
    stroke-linecap: round;
    animation: stroke-animate 2s ease forwards 2.6s;
}

#path-8 {
    stroke-dasharray: 490;
    stroke-dashoffset: 490;
    stroke-linecap: round;
    animation: stroke-animate 2s ease forwards 2.8s;
}

#path-9 {
    stroke-dasharray: 337;
    stroke-dashoffset: 337;
    stroke-linecap: round;
    animation: stroke-animate 2s ease forwards 3s;
}

#path-10 {
    stroke-dasharray: 227;
    stroke-dashoffset: 227;
    stroke-linecap: round;
    animation: stroke-animate 2s ease forwards 3.2s;
}

#path-11 {
    stroke-dasharray: 566;
    stroke-dashoffset: 566;
    stroke-linecap: round;
    animation: stroke-animate 2s ease forwards 3.4s;
}

#path-12 {
    /* stroke-dasharray: 605;
    stroke-dashoffset: 605; */
    stroke-linecap: round;
    stroke-opacity: 0;
    stroke-width: 262%;
    animation: first-letter-animate 2s ease forwards 3.8s;
}



#a-path-0 {
    stroke-dasharray: 2275;
    stroke-dashoffset: 2275;
    stroke-linecap: round;
    /* stroke-linejoin: bevel; */
    animation: stroke-animate 3s ease forwards 2.0s;


}

#a-path-1 {
    stroke-dasharray: 1162;
    stroke-dashoffset: 1162;
    stroke-linecap: round;
    animation: stroke-animate 3s ease forwards 2.2s;
}

#a-path-2 {
    stroke-dasharray: 1845;
    stroke-dashoffset: 1845;
    stroke-linecap: round;
    animation: stroke-animate 3s ease forwards 2.4s;
}

#a-path-3 {
    stroke-dasharray: 2275;
    stroke-dashoffset: 2275;
    stroke-linecap: round;
    animation: stroke-animate 3s ease forwards 2.6s;
}

#a-path-4 {
    stroke-dasharray: 4271;
    stroke-dashoffset: 4271;
    stroke-linecap: round;
    animation: stroke-animate 3s ease forwards;
    /* stroke-width: 300%; */
    /* stroke-opacity: 0; */
    /* animation: first-letter-animate 3s ease forwards; */
}



@keyframes stroke-animate {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes first-letter-animate {

    to {
        stroke-width: .5%;
        stroke-opacity: 1;
    }
}